/**
 * $File: App.scss $
 * $Date: 2021-08-02 00:54:44 $
 * $Revision: $
 * $Creator: Jen-Chieh Shen $
 * $Notice: See LICENSE.txt for modification and distribution information
 *                   Copyright © 2021 by Shen, Jen-Chieh $
 */

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1500px  /* Changed! */
);

@import '../../node_modules/bootstrap/scss/bootstrap';
